##
# Source perameters for the given sequence
# -- NB: the following paths will likely need to be overridden by the user

uncompressedDataPath:              8i/8iVFBv2/redandblack/Ply/redandblack_vox10_%04d.ply
geometry3dCoordinatesBitdepth:     10
geometryNominal2dBitdepth:         8
frameCount:                        300
startFrameNumber:                  1450
groupOfFramesSize:                 32
voxelDimensionRefineSegmentation:  2
maxPatchSize:                      512

minimumImageHeight:                672
minimumImageWidth:                 640

minNormSumOfInvDist4MPSelection:   0.36
partialAdditionalProjectionPlane:  0.15

##
# partitions/ROIs and tiles
# 4 partitions
roiBoundingBoxMinX:                0,0,0,0
roiBoundingBoxMaxX:                511,511,511,511
roiBoundingBoxMinY:                0,128,256
roiBoundingBoxMaxY:                123,255,383,511
roiBoundingBoxMinZ:                0,0,0,0
roiBoundingBoxMaxZ:                511,511,511,511
numTilesHor:                       2
tileHeightToWidthRatio:            1
numCutsAlong1stLongestAxis:        2
numCutsAlong2ndLongestAxis:        1
numCutsAlong3rdLongestAxis:        1