<!DOCTYPE html>
<html>
<head>
    <title>Demo Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js" defer></script>
  <script src="{{ url_for('static', filename='socket.js') }}" defer></script>
  <script src="{{ url_for('static', filename='charts.js') }}" defer></script>
</head>
<body>
    <h1>Transcoder Settings</h1>
    <label for="sequence">Sequence:</label>
    <select id="sequence">
        <option value="longdress">longdress</option>
        <option value="loot">loot</option>
    </select>
    <br><br>

    <label for="geoQP">geoQP: <span id="geoQPValue">24</span></label>
    <input id="geoQP" type="range" min="0" max="51" step="1" value="29" oninput="updateSliderValue('geoQP')">
    <br><br>

    <label for="attQP">attQP: <span id="attQPValue">18</span></label>
    <input id="attQP" type="range" min="0" max="51" step="1" value="20" oninput="updateSliderValue('attQP')">
    <br><br>

    <button onclick="adjustConfig()">Apply Config</button>

    <h1>Performance Monitor</h1>
    <canvas id="timesChart" width="800" height="300"></canvas>
    <canvas id="bandwidthChart" width="800" height="300"></canvas>

</body>
</html>